Projects/CommonTools/src/CommonTools/Components/Testing/DummyData/DummyData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DummyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="firstnames">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="firstname">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="gender" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="surnames">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="surname" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="emailProviders">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="emailProvider" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="textContents">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="textContent" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="streets">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="street" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cities">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="city" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="images">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="icons">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="icon" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="videos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="video" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="songs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="song" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="files">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="file" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>